{% load static %}
{% static "images" as baseUrl %}
<html>
{% include 'title.html' %}
{% include 'style.html' %}
<body>


<div class="bgimg w3-display-container w3-text-white">
  <div class="w3-display-topmiddle w3-xlarge w3-text-green">
 {% if messages %}
     {% for message in messages %}
         <div class="text-center alert alert-{{ message.tags }}">
             {{ message|safe }}
         </div>
     {% endfor %}
 {% endif %}
  </div>
  <div class="w3-display-middle w3-xxxlarge w3-text-white">
    <p><b>{{series}}</b></p>
  </div>

  <div class="w3-display-topleft w3-container w3-xlarge">
    <p><a href="register" ><button class="button w3-black w3-border">Sign Up</button></a></p>
    <p><a href="login" ><button class="button w3-black w3-border">Login</button></a></p>
	<p><a href="{%static 'pdf/rpl.pdf' %}" target="_blank"><button class="button w3-black w3-border">Rules</button></a></p>
  </div>
  <div class="w3-display-bottomleft w3-container w3-text-white">
    <p>developed by <a href="https://www.linkedin.com/in/arpit-gupta-77129219/" target="_blank">Arpit Gupta</a></p>
  </div>
</div>

</body>
</html>
