{% load static %}
{% static "images" as baseUrl %}
<html>
{% include 'title.html' %}
{% include 'style.html' %}
<body>


<div class="bgimg w3-display-container w3-text-black">

 <div class="w3-display-topmiddle w3-container w3-xlarge">
    {% block content %}
	<h2 style="color: #f1f1f1!important;"> Welcome {{username}}</h2>
	{% endblock content %}
	
	<div class="w3-text-green w3-xlarge">
	 {% for message in messages%}
	 <h3>{{message}}</h3>
	 {% endfor %}
	</div>
	
    <p><a href="selectplayer1" ><button class="button w3-black w3-border">Select Players Live</button></p>
    <p><a href="selectplayer2" ><button class="button w3-black w3-border">Select Players Offline</button></p>
	<p><a href="scorecard" target="_blank"><button class="button w3-black w3-border">Match-wise Scorecard</button></a></p>
	<p><a href="profile" target="_blank"><button class="button w3-black w3-border">Your Profile</button></a></p>
	<p><a href="logout"><button class="button w3-black w3-border">logout</button></a></p>
 </div>

</div>


</body>
</html>
