{% load static %}
<html>
<title>Winners</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{%static 'css/w3.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

  <div class="w3-container">
    <h5>All Winners</h5>
    <ul class="w3-ul w3-card-4 w3-white">
	{% for i in windata %}
      <li class="w3-padding-16">
        <!--img src="{{i.photoname.UserImg.url}}" class="w3-left w3-circle w3-margin-right" style="width:35px"-->
		<img src="data: image / png; base64, {{i.photoname}}" class="w3-left w3-circle w3-margin-right" style="width:35px">
        <span class="w3-xlarge">{{i.winname}}</span><br>
		<span class="w3-large">{{i.winmatch}}</span>&nbsp &nbsp<span class="w3-large">{{i.winscore}}</span>
      </li>
	{% endfor %}
    </ul><br>
  </div>
  <hr>

</body>
</html>
